* {
    box-sizing: border-box;
    }
    /* Style the header */
    main {
    width: 80%;
    margin: auto;
    background-color:cornflowerblue;
    padding: 30px 40px;
    color: white;
    text-align: center;
    }
    /* Input and add button container */
    #form {
    margin: auto;
    height: 40px;
    width: 100%;
    padding: 0;
    background-color: white;
    }
    /* Style the input */
    input {
    margin: auto;
    border: none;
    width: 80%;
    padding: 10px;
    font-size: small;
    height: 100%;
    outline: none;
    }
    /* Add task button */
    button#add {
        margin: 0;
        padding: 10px;
        height: 100%;
        border: none;
        float: right;
    }
    /* All buttons have pointer arrow */
    button:hover {
        cursor: pointer;
    }
    /* Add task button background colored when hovered */
    button#add:hover {
        background-color: chartreuse;
    }
    /* Remove margins and padding from the list */
    ul {
    margin-top: 5px;
    padding: 0;
    text-align: left;
    }
    /* Style the list items */
    li {
    cursor: pointer;
    position: relative;
    padding: 10px 10px 20px 20px;
    background-color:whitesmoke;
    font-size: medium;
    color: black;
    list-style-type: none;
    transition: .3s;
    }
    /* Set all odd list items to a different color (zebra-stripes) */
    li:nth-child(odd) {
    background-color:azure;
    }
    /* Darker background-color on hover */
    li:hover {
    background-color:cyan;
    }
    /* Style completed list items */
    li.completed {
    background-color: lightpink;
    text-decoration: line-through;
    }
    /* Position span element inside li */
    span {
        position: relative;
        top: 5px;
    }
    button.delete, button.done {
    float: right;
    margin-left: 5px;
    height: 30px;
    border: none;
    }
    button.delete:hover {
        background-color: red;
    }
    button.done:hover {
        background-color: green;
    }